:root {
  --dark-color: #050114;
  --light-color: #fffefd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--dark-color);
}

body {
  width: 100vw;
  background: var(--light-color);
}